*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Tiro Devanagari Sanskrit', serif, sans-serif;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.fixed-width{
    max-width: 1070px;
    margin: auto;
}
/* start header css..................... */
header{
    background-color:#3498db;
    position: sticky;
    top: 0;

}
.logo{
    width: 30%;
    float: left;
}
.logo img{
    width: 250px;
}
.menu{
    width: 70%;
    float: left;

}
.menu ul{
    list-style: none;
    text-align: right;
}
.menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 70px;
    border-right: 1px solid #fff;
    display: inline-block;
    padding: 0 20px;
}
.menu ul li:hover > a{
    background-color: #2980b9;
    
    transition: .4s;
}
/* dropdownmenu css ...........................*/
.menu ul li{
    position: relative;
}
.menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #3498db;
}
.menu ul li ul{
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .4s;
  
}
.menu ul li ul li{
    display: block;
    margin-left: 0;
}
.menu ul li ul li a{
    display: block;
    line-height: 60px;
    border-bottom: 1px solid #FFF;

}
.menu ul li ul li:first-child a{
    border-top: 1px solid #fff;
}

.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    top: 100%;
    transition: .5s;

}

/* start banner araea css............................. */
.banner-area{
    background-image: url(./img/banner.PNG);
    padding: 250px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

/* start about us area............. */
.about-us{
    text-align: center;
    padding: 20px 0;
}
.about-us h2{
    font-size: 40px;
}
.about-us p{
    max-width: 700px;
    margin: auto;
    /* font-size: 18px; */
    }
/* services area css ............................... */
.services-area{
    padding: 20px 0;
}
.service-item{
    border: 2px solid #ddd;
    width: 30%;
    float: left;
    text-align: center;
    margin-left: 30px;
    padding: 10px 0;
    border-radius: 5px;
}
.service-item span{
    color: red;
}
/* start blog area css .............................. */
.blog-area{
    padding: 20px 0;
}
.blog-area h1{
    margin: auto;
    padding-bottom: 20px;
    background-color: blue;
    width: 300px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    border-radius: 20px;
}
.content-area{
    width: 65%;
    float: left;
    margin-right: 50px;
    margin-top: 30px;
}
.content-area img{
    max-width: 100px;
    height: auto;
    border: 2px solid blue;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}
.content-area  p{
    text-align: justify;
}

/* blog slider area css */
.slider-area{
    width: 25%;
    float: right;
    margin-top: 30px;
}
.slider-area h3{
    font-size: 25px;
    padding-bottom: 5px;
}
.slider-area ul{
    list-style: none;
}
.slider-area ul li{
    padding-bottom: 5px;
}
.slider-area ul li a{
    text-decoration: none;
    border: 1px solid #ddd;
    color: black;
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
}
/* start footer area css */
footer{
    background-color: #2c3e50;
    text-align: center;
    padding: 10px 0;
}
.social-icon{
    color: #fff;
    font-size: 15px;
}
footer span {
    display: inline-block;
    font-size: 40px;
    padding-left: 15px;
}
footer p {
    color: #fff;
    font-size: 23px;
}
